    <div class="col-md-6">
            <label>Razão Social</label>
            <div >
                <input type="text" class="input-width"/>
            </div>
        </div>
        <div class="col-md-6">
            <label>Nome Fantasia</label>
            <div >
                <input type="text" class="input-width"/>
            </div>
    </div>

    <div class="col-md-6">
            <label>CPF/CNPJ</label>
            <div >
                <input type="text" class="input-width"/>
            </div>
        </div>
        <div class="col-md-6">
            <label>Telefone de Contato</label>
            <div >
                <input type="text" class="input-width"/>
            </div>
    </div>
    <div class="button">
        <input type="button" value="Consulta">
        <input type="button" value="Cadastro">
    </div>

    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Razão Social</th>
                    <th>Nome Fantasia</th>
                    <th>CPF/CNPJ</th>
                    <th>Telefone de Contato</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{codigo}}</td>
                    <td>{{razao}}</td>
                    <td>{{nome}}</td>
                    <td>{{cpfCnpj}}</td>
                    <td>{{telefone}}</td>
                    <td>{{status}}</td>
                </tr>
            </tbody>
    
        </table>
    </div>
